<a href="https://colab.research.google.com/github/mratanusarkar/twitter-sentiment-analysis/blob/feature%2Ftweet-analysis-nlp/Notebooks/Tweet-Analysis-NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tweet Analysis For Sentiment Analysis

IMPORT PACKAGES

In [18]:
import spacy
import numpy as n, pandas as pd
from collections import Counter

OBJECTS AND INPUTS

In [52]:
english_obj=spacy.load("en_core_web_sm")
sample_doc1=english_obj("My name is Dripto. I am collaborating with Atanu da. I am glad I will be working with Atanu da.Very Excited!. #togetherwork #opensource")

PROCESSING OF TEXTS

In [53]:
def words_extract(doc):
  #taking lists of sentences and words
  sens=[]
  words=[]

  #adding the words 
  for sen in doc.sents:
    sens.append(sen)

  for sen in doc.sents:
    for w in sen:
      words.append(w)
  return words

CLEANING OF TEXTS - REMOVING PUNCTUATIONS AND OTHERS

In [39]:
sample_doc1

My name is Dripto. I am collaborating with Atanu da. I am glad I will be working with Atanu da.Very Excited!. #togetherwork #opensource

In [54]:
clean_words=[t for t in sample_doc1 if not t.is_punct]
clean_words_string=" ".join(t.text for t in clean_words)
clean_words_string

'My name is Dripto I am collaborating with Atanu da I am glad I will be working with Atanu da Very Excited togetherwork opensource'

WORD FREQ COUNT

In [55]:
# --> list return
def wordfreq(text):
  wf=[]
  wf_dic={}
  #word_freq=Counter(text)
  for i in text:
    if i not in wf_dic.keys():
      wf_dic[i]=0
    wf_dic[i]+=1

  for wfs in wf_dic.values():
    wf.append(wfs)
  return wf

In [56]:
Word_Freq=wordfreq(clean_words) # clean-words-->list

In [26]:
#Word_Freq.most_common(5)

[(My, 1), (name, 1), (is, 1), (Dripto, 1), (I, 1)]

In [57]:
#creating a dataframe
df1=pd.DataFrame({"WORDS":clean_words,"FREQ":Word_Freq})
df1.head()

    WORDS  FREQ
0      My     1
1    name     1
2      is     1
3  Dripto     1
4       I     1

In [59]:
df1

            WORDS  FREQ
0              My     1
1            name     1
2              is     1
3          Dripto     1
4               I     1
5              am     1
6   collaborating     1
7            with     1
8           Atanu     1
9              da     1
10              I     1
11             am     1
12           glad     1
13              I     1
14           will     1
15             be     1
16        working     1
17           with     1
18          Atanu     1
19             da     1
20           Very     1
21        Excited     1
22   togetherwork     1
23     opensource     1