<a href="https://colab.research.google.com/github/mratanusarkar/twitter-sentiment-analysis/blob/feature%2Ftweet-analysis-nlp/Notebooks/Tweet-Analysis-NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tweet Analysis For Sentiment Analysis

IMPORT PACKAGES

In [2]:
import spacy
import numpy as n, pandas as pd
from collections import Counter

OBJECTS AND INPUTS

In [33]:
english_obj=spacy.load("en_core_web_sm")
sample_doc1=english_obj("My name is Dripto. I am collaborating with Atanu da. I am glad I will be working with Atanu da.Very Excited!. #togetherwork #opensource")

PROCESSING OF TEXTS

In [17]:
# def words_extract(doc):
#   #taking lists of sentences and words
#   sens=[]
#   words=[]

#   #adding the words 
#   for sen in doc.sents:
#     sens.append(sen)

#   for sen in doc.sents:
#     for w in sen:
#       words.append(w)
#   return words

CLEANING OF TEXTS - REMOVING PUNCTUATIONS AND OTHERS

In [34]:
sample_doc1

My name is Dripto. I am collaborating with Atanu da. I am glad I will be working with Atanu da.Very Excited!. #togetherwork #opensource

In [35]:
clean_words=[t for t in sample_doc1 if not t.is_punct]
clean_words_string=" ".join(t.text for t in clean_words)
clean_words_string

'My name is Dripto I am collaborating with Atanu da I am glad I will be working with Atanu da Very Excited togetherwork opensource'

WORD FREQ COUNT

In [53]:
# --> dic return
def wordfreq(text):
    wf_dic={}
    for i in text:
        i=str(i)
        if i not in wf_dic.keys():
            wf_dic[i]=1
        else:
            wf_dic[i]+=1
    print(wf_dic)
    # for wfs in wf_dic.values():
    #     wf.append(wfs)
    return wf_dic

In [54]:
Word_Freq=wordfreq(clean_words) # clean-words-->list

{'My': 1, 'name': 1, 'is': 1, 'Dripto': 1, 'I': 3, 'am': 2, 'collaborating': 1, 'with': 2, 'Atanu': 2, 'da': 2, 'glad': 1, 'will': 1, 'be': 1, 'working': 1, 'Very': 1, 'Excited': 1, 'togetherwork': 1, 'opensource': 1}

In [57]:
#creating a dataframe
df1=pd.DataFrame({"WORDS":list(Word_Freq.keys()),"FREQ":list(Word_Freq.values())})
df1.head()

    WORDS  FREQ
0      My     1
1    name     1
2      is     1
3  Dripto     1
4       I     3