<a href="https://colab.research.google.com/github/mratanusarkar/twitter-sentiment-analysis/blob/feature%2Ftweet-analysis-nlp/Notebooks/Tweet-Analysis-NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tweet Analysis For Sentiment Analysis

IMPORT PACKAGES

In [8]:
import spacy
import numpy as n, pandas as pd

OBJECTS AND INPUTS

In [6]:
english_obj=spacy.load("en_core_web_sm")
sample_doc1=english_obj("My name is Dripto. I am collaborating with Atanu da. Very Excited!. #togetherwork #opensource")

PROCESSING OF TEXTS

In [22]:
def words_extract(doc):
  #taking lists of sentences and words
  sens=[]
  words=[]

  #adding the words 
  for sen in doc.sents:
    sens.append(sen)

  for sen in doc.sents:
    for w in sen:
      words.append(w)
  return words

CLEANING OF TEXTS - REMOVING PUNCTUATIONS AND OTHERS

In [14]:
sample_doc1

My name is Dripto. I am collaborating with Atanu da. Very Excited!. #togetherwork #opensource

In [25]:
clean_words=[t for t in sample_doc1 if not t.is_punct]
" ".join(t.text for t in clean_words)

'My name is Dripto I am collaborating with Atanu da Very Excited togetherwork opensource'

In [24]:
#words from the clean doc
#cleandoc_words=words_extract(clean_doc1)

In [26]:
#creating a dataframe
df1=pd.DataFrame({"WORDS":clean_words})
df1.head(7)

           WORDS
0             My
1           name
2             is
3         Dripto
4              I
5             am
6  collaborating